# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
fastapi-mysql/

# AWS Lambda deployment artifacts
aws_lambda_artifact.zip

# Exclude dependencies folder (Lambda dependencies)
dependencies/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables (if you're using .env)
.env
